## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
7**4

2401

In [ ]:
s = "Hi there Sam!"
list=[s[0:2], s[3:8], s[9:12]]

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
print(list)

['Hi', 'there', 'Sam']

In [ ]:
print(list[0], list[1], 'Dad')

Hi there Dad

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
print("The diameter of {} is {} kilometers," .format(planet, diameter))

The diameter of Earth is 12742 kilometers,

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
a1=(lst[3])
a2=(a1[1])
a3=(a2[2])
print(a3[0])

print(lst[3][1][2][0])

hello
hello

** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [ ]:
# Tuple is immutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
mail1='user@domain.com'
def domainGet(k):
  dom=k.split('@')
  print(dom[1]);
domainGet(mail1)

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
text='Is there a dog here?'
s_text='dog'
def find(a):
  b=a.split(' ')
  if b.count(s_text) > 0:
    print("True")
  else:
    print("False");
find(text)

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
text='Eyyy dog this dog runs faster than the other dog dog dude!'
s_text='dog'
def count_text(a):
  b=a.split(' ')
  print(b.count(s_text));
count_text(text)

4

In [ ]:
countDog('This dog runs faster than the other dog dude!')

2

** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

    seq = ['soup','dog','salad','cat','great']

**should be filtered down to:**

    ['soup','salad']

In [ ]:
seq = ['soup','dog','salad','cat','great']

['soup', 'salad']

### Final Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    pass

In [ ]:
caught_speeding(81,True)

'Small Ticket'

In [ ]:
caught_speeding(81,False)

'Big Ticket'

# Great job!